{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Symfony 4: using ParcelJs with Twig templates</h1>
        <p>Hello from Hackerbox.io</p>
        <p>See an example of this bundling technique working with Parcel's built-in <a href="/codesplitting">Code Splitting</a>.</p>
    </div>
{% endblock %}
